.drop-btn {
    font-family: 'Roboto', sans-serif;
    margin-left: 11px;
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    width: 142px;
        height: 48px;
    font-weight: 700;
font-size: 18px;
line-height: 21px;
}
.drop-btn:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}
#close-box-btn{
    position: absolute;
    top: -35px;
    left: 92vw;
}
.start-btn{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    height: 48px;
    font-weight: 700;
font-size: 18px;
line-height: 22px;
}
.start-btn:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}
@media (min-width: 800px /* 420px */){
    #close-box-btn{
        position: static;
        display: none;
    }
}
