@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Inter:wght@600&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Inter:wght@600&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Inter:wght@600&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #4200FF;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-alert: #CE4646;
  --color-confirm: #4BA036;

  --font-title-1: 48px;
  --font-title-2: 38px;
  --font-title-3: 28px;
  --font-title-4: 18px;
  --font-text-1: 16px;
  --font-text-2: 14px;
  --font-text-3: 12px;

  --font-weight-1: 600;
  --font-weight-2: 500;
  --font-weight-3: 400;

  --radius-1: 4px;
  --radius-2: 8px;

  --size-1: 56px;
  --size-2: 48px;
  --size-3: 36px;

  --gap-1: 32px;
  --gap-2: 28px;
  --gap-3: 24px;
  --gap-4: 20px;
  --gap-5: 16px;

  --paddingInlineButton: 32px;
  --paddingLeft: 22px;

  --container-1: 1178px;
  --container-2: 900px;
}

body {
  font-family: 'Inter', sans-serif;
}

body header{
  position: fixed;
  padding: 0 5% 0 2%;
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.2);
 }

.logo{
  display: flex;
  align-items: center;
  gap: 5%;
  margin-left: 0.5rem; 
}
 
button {
  cursor: pointer;
}

img {
  object-fit: fill;
  
}

ul {
  list-style: none;
}

.container {
  padding-top: 60px;
  
  margin: 0 auto;
}

.none{
  display: none;
}

@media (min-width: 800px /* 420px */){
  body header{
    height: 80px;
    z-index: 1;
   }
   .container {
    max-width: var(--container-1);
    padding-top: 123px;
   }
}
