.start-box form input{
    height: 52px;
    padding-left: 17px;
    font-weight: 400;
font-size: 18px;
line-height: 22px;
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 800px /* 420px */){

}
